@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'AkiraExpanded';
  src: url('../public/fonts/AkiraExpanded.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar {
  @apply w-2
}

::-webkit-scrollbar:not(body) {
  @apply w-1
}

::-webkit-scrollbar-track {
  @apply dark:bg-white;
}

::-webkit-scrollbar-thumb {
  @apply dark:bg-primary rounded-none;
}

body {
  background:
    url(https://images.pexels.com/photos/2339009/pexels-photo-2339009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
    center / cover no-repeat fixed;
    background-color: transparent;
}

main {
  background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: inherit;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(100%); }
}

@keyframes slide-to-left {
  to { transform: translateX(-100%); }
}

::view-transition-old(root) {
  animation:  700ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation:  700ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}